#MongoDB atlas
MONGODB_URI=
MONGODB_DB_NAME=

# OPenAI (for embeddings)
GOOGLE_API_KEY=
GOOGLE_EMBEDDING_MODEL=test-embedding-3-small

# RAG
RAG_CHUNK_SIZE=500
RAG_CHUNK_OVERLAP=50
RAG_TOP_K=5

#App
LOG_LEVEL=INFO
ENV=development
APP_PORT=8001
